@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    /* background-color: rgb(0, 0, 29); */
    color: white;
    background-image: url("./assets/chatBg.jpg");
}

::-webkit-scrollbar{
    display: none;
}